.dropdown {
  background-color: var(--solid-white);
  position: relative;
}

.dropdown-list {
  background-color: inherit;
  position: absolute;
  top: 0.625rem;
  border: 1px solid var(--brand-secondary);
  border-radius: 5px;
}

.dropdown-item {
  font-weight: 500;
}
.dropdown-item > a {
  padding: 0.5rem 1.5rem;
  display: block;
  border-bottom: 1px solid var(--brand-secondary);
}
.dropdown-item:hover {
  background-color: var(--brand-primary);
  color: var(--solid-white);
}
.hide {
  display: none;
}
.example nav {
  width: 100%;
}
