.avatar {
  border-radius: 50%;
  width: 2.5rem;
}
.avatar-sm {
  width: 1.875rem;
  height: 1.875rem;
}
.avatar-lg {
  width: 3.125rem;
  height: 3.125rem;
}
.avatar-xl {
  width: 4.375rem;
  height: 4.375rem;
}
