.badge {
  position: relative;
  width: max-content;
}
.badge-icon > i {
  font-size: 3rem;
}
.badge > div {
  bottom: 0.312rem;
  right: 0.312rem;
  position: absolute;
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  border: 1px solid var(--solid-white);
}

.badge .online {
  background-color: var(--bg-green);
}

.badge .offline {
  background-color: var(--dim-grey);
}

.badge .dnd {
  background-color: var(--bg-red);
}

.badge .number {
  position: absolute;
  top: 1px;
  right: 0px;
  font-size: 0.625rem;
  text-align: center;
  line-height: 1rem;
  border: none;
  height: 1rem;
  width: 1rem;
}
.badge-primary {
  background-color: var(--brand-secondary);
}
.badge-secondary {
  background-color: var(--brand-secondary);
}
