.basic-snack {
  background-color: var(--bg-puregrey);
  padding: 0.5rem;
  align-items: center;
  border-radius: 10px;
  z-index: 1;
}
.basic-snack a {
  margin-left: 0.5rem;
}
.basic-snack > * {
  margin: 0.5rem;
}
.baseline-snack {
  position: fixed;
  bottom: 5px;
}
.stacked-snack {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}
