.wrapper {
  position: relative;
}
.nav-wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--solid-white);
  z-index: 2;
}
.navigation {
  margin: 0 auto;
  max-width: 55rem;
  padding: 0.75rem;
}

.navigation-title > i {
  color: var(--brand-primary);
}
.navigation-list {
  margin-left: auto;
}

.navigation-item > a {
  margin-left: 1.5rem;
}
.navigation-item > a:hover {
  color: var(--brand-primary);
}
/* header  */
.header-container {
  max-width: 55rem;
  margin: 6rem auto;
}

.header-container p {
  margin-top: 0.625rem;
}
.header-container u {
  padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid var(--brand-secondary);
}
.btn-cta {
  margin-top: 2rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
/* animation  */
.icon-animation {
  position: relative;
  padding: 5rem;
}
.icon-animation i {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
}
.icon-animation i:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px var(--brand-secondary);
}
.icon-animation i:nth-child(2) {
  color: var(--brand-primary);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: circle(45.7% at 80% 85%);
  }
  50% {
    clip-path: circle(45.7% at 19% 6%);
  }
}
.container {
  position: relative;
  margin: 0 auto;
  max-width: 55rem;
  padding: 1rem;
  border-top: 2px solid var(--bg-offgrey);
}
#getting-started h2 {
  margin-top: 1rem;
}
.container h2 {
  margin-top: 4rem;
  font-weight: 600;
}
/* .container h3 {
  font-weight: 400;
} */

.description {
  margin-top: 0.5rem;
}
.example-container {
  margin-top: 2rem;
}
.example-container > * {
  margin-top: 0.5rem;
}

.example {
  background-color: var(--bg-offgrey);
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--dim-grey);
}
#example-heading {
  margin-top: 0px;
}
.code-frame {
  border-radius: 5px;
}
